{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="keywords" content="HTML, CSS, JavaScript">
   <meta name="description"
      content="A clean, beautiful and responsive portfolio template for Developers! using only Html, CSS, and JavaScript">
   <meta name="author" content="Puskar Adhikari">
   <title>Vector Vision By Adama SANA</title>
   <link href="{% static 'css/header.css' %}" rel="stylesheet" />
   <link href="{% static 'css/main.css' %}" rel="stylesheet" />
   <link href="{% static 'css/home.css' %}" rel="stylesheet" />
   <link href="{% static 'css/about.css' %}" rel="stylesheet" />
   <link href="{% static 'css/service.css' %}" rel="stylesheet" />
   <link href="{% static 'css/portfolio.css' %}" rel="stylesheet" />
   <link href="{% static 'css/testimonials.css' %}" rel="stylesheet" />
   <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
   <link href="{% static 'css/contact.css' %}" rel="stylesheet" />
   <link href="{% static 'css/footer.css' %}" rel="stylesheet" />
</head>

<body>
   <style>
   .copyright {
      margin-bottom: 0;
   }
   </style>
   <header>
      <div class="container">
         <div class="row">
            <div class="brand-name">
               <a href="/" class="logo"><span style="color:black;">Vector <span style="color: #ff0080;">Vision</span></a>
            </div>
            <div class="hamburger">
               <i class="fa fa-bars"></i>
            </div>
            <div class="navbar">
               <ul>
                  <li><a href="{% url 'acceuil' %}" style="color:black" class="active">Acceuil</a></li>
                  <li><a href="{% url 'portfolio' %}" style="color:black">Portfolio</a></li>
                  <li><a href="{% url 'actualites' %}" style="color:black">Actualite</a></li>
                  <li><a href="{% url 'message' %}" style="color:black">Contact</a></li>
               </ul>
            </div>
         </div>
      </div>
   </header>

   <section class="portfolio" id="portfolio">
    <div class="container">
       <div class="row">
          <div class="title text-center">
             <h1>Portfolio</h1>
          </div>
       </div>
       <div class="row">
          <div class="filter-btn">
             <ul id="filterBtn">
                <li class="active" data-target="all">All</li>
                <li data-target="ui">Infographie</li>
                <li data-target="web">Web Design</li>
                <li data-target="app">Developpement Web</li>
             </ul>
          </div>
       </div>

       <div class="row">
          <div class="gallery">
          {% for portfolio in portfolios %}
                <div class="item" data-id="{{ portfolio.categorie }}">
                   <div class="inner">
                      <img src="{{ portfolio.image.url }}" alt="portfolio" />
                      <div class="overlay">
                         <span class="fa fa-plus"></span>
                         <h4>{{ portfolio.nom }}</h4>
                      </div>
                   </div>
                </div>
          {% endfor %}
          </div>
       </div>
       
    </div>
 </section>
 <footer>
    <div class="container">
       <div class="row">
          <div class="footer-logo">Vector Vision</div>
          <div class="social-link">
            <a href="https://www.facebook.com/profile.php?id=100092401990193"><i class="fa fa-facebook"></i></a>
            <a href="https://instagram.com/dems1817?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/adamasana226?t=ocA6VOo6UNkzi7Fb4Qgw8A&s=08"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/adama-sana-6a5556263"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/Adamasana"><i class="fa fa-github"></i></a>
          </div>
       </div>
    </div>
 </footer>
 <section class="copyright">
    <div class="container">
       <p>© <span id="year"></span> | Designed and Developed By Adama SANA. | All rights reserved.</p>
    </div>
 </section>
 <div class="lightbox hide">
    <span class="close-lightbox fa fa-close"></span>
    <img src="" alt="portfolio" />
 </div>
 <script src="{% static 'js/app.js' %}"></script>
</body>

</html>